{% extends 'base.html.twig' %}


{% block body %}
    <h1>Film</h1>

    {% for film in films %}
        {{film.adult}}<br>
        {{film.backdrop_path}}<br>
        {{film.id}}<br>
        {{film.original_language}}<br>
        {{film.overview}}<br>
        {{film.popularity}}<br>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{film.poster_path}}"/><br>
        {{film.release_date}}<br>
        {{film.title}}<br>
        {{film.video}}<br>
        {{film.vote_average}}<br>
        {{film.vote_count}}<br> 
    {% endfor %}
{% endblock %}